.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;  
}

.main-container header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    height: 70px;
}

.main-container .developers {
    padding: 20px 40px;
}

.main-container div.developers ul {
    list-style: none;
 }